{% extends 'racine.html' %}
{% load static %}
{% block title %}Acceuil{% endblock title %}
{% block main-content %}


    <h1>Bienvenu(e) à la maison !</h1>
    <div class="divp">
        <p>Au lendemain des indépendances de nos Etats, la formation de cadres techniques de haut niveau, adaptés aux besoins
            socio-économiques des pays, apparaissait comme l'une des priorités pour soutenir les actions de développement
            national et sous régional harmonieux.<br>
            C'est ainsi que les Chefs d'Etat et de Gouvernement des pays membres de l'Organisation Commune Africaine et Malgache
            (OCAM), considérant le développement continu et accéléré de l'informatique dans le monde et la nécessité de disposer
            d'un personnel qualifié en nombre suffisant, pour faire face à l'évolution technologique, ont convenu, dans le cadre
            de leur politique de renforcement de la solidarité africaine, par la mise en œuvre d'entreprises ou de projets
            communs, de créer une Ecole inter-Etats d'Enseignement Supérieur spécialisée en informatique dénommée Institut
            Africain d'Informatique (I.A.I) par la Résolution N 33/AEFT/Fort-Lamy du 29 janvier 1971.</p>
    </div>

    <div class="divp">
        <p>L’IAI-TOGO propose actuellement le cycle de formation des ingénieurs de travaux informatiques (Licence
            professionnelle en informatique). Au terme des trois années de formation, les diplômés peuvent poursuivre leurs
            études supérieures au siège au GABON ou dans les universités occidentales ou asiatiques (UTBM en FRANCE,
            Université-Laval du Québec au CANADA, etc).<br>
        
            C'est ainsi que les Chefs d'Etat et de Gouvernement des pays membres de l'Organisation Commune Africaine et Malgache
            (OCAM), considérant le développement continu et accéléré de l'informatique dans le monde et la nécessité de disposer
            d'un personnel qualifié en nombre suffisant, pour faire face à l'évolution technologique, ont convenu, dans le cadre
            de leur politique de renforcement de la solidarité africaine, par la mise en œuvre d'entreprises ou de projets
            communs, de créer une Ecole inter-Etats d'Enseignement Supérieur spécialisée en informatique dénommée Institut
            Africain d'Informatique (I.A.I) par la Résolution N 33/AEFT/Fort-Lamy du 29 janvier 1971.
        </p>
    </div>



{% endblock main-content %}