{% load static %}
<header id="masthead" class="site-header no-print" role="banner">
  <nav class="top-header nav-top" style=" background-color: #00008B;">
    <div class="container">
      <div class="nav_top_style1 ">
        <div id="nav_menu-3" class="widget widget_nav_menu">
          <div class="menu-menu-niveau-1-container">
            <ul id="menu-menu-niveau-1" class="menu">
              <li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161">
                <a href="">Localisation des Représentations Internationales</a>
              </li>
              <li id="menu-item-1756"
                class="galerie_photos_link menu-item menu-item-type-post_type menu-item-object-page menu-item-1756">
                <a href="">Galerie photos</a>
              </li>
              <li>
                <a href="{% url 'contact' %}" title="Contactez-nous">
                  <i class=""></i>
                  Contactez-nous
                </a>
              </li>
              <li class="nav-item  mx-2">
                <div >
                  <i class="fa fa-search"></i>
                  <input class="search" type="search" placeholder="Search" aria-label="Search" id="search">
                </div>
                
              </li>

            </ul>
          </div>
        </div>
      </div>
      <!--ajout des listes pour les menus-->
      <div class="nav_top_style2">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
         
         
          <li class="nav-item dropdwon mx-0">
            <i class=""></i>
            <a class="nav-link dropdown-toggle text-dark" href="#" id="profileDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false"> User </a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
          <li class="nav-item  mx-2">
            <i class=""></i>
            <a class="nav-link  text-white" href="{% url 'login' %}"> Login </a>
          </li>
          <li class="nav-item  mx-2">
            <i class=""></i>
            <a class="nav-link  text-white" href="{% url 'registration' %}"> Registration </a>
          </li>

          <!-- <li>
                            <a href="javascript:;"
                                onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:print();"
                                title="Imprimer" data-cf-modified-d0b81d9f100e75a788b43a2d-="">
                                <i class="fa fa-print hidden-xs"></i>
                            </a>
                        </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- les espaces de visite du site -->
  <div class="site-branding" style="background-color: #0000FF;">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default style_nav">
          <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <a class="navbar-brand" href="{% static 'images/logoIAI.jpg' %}">
              <img src="{% static 'images/logoIAI.jpg' %}" width="60px" height="50px" />
            </a>
            <ul id="menu-menu-principal" class="nav navbar-nav">
              <li id="menu-item-63"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-63">
                <a href="{% url 'Acceuil' %}">Accueil</a>
              </li>


              <li id="menu-item-64"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-64">
                <a href="">L’institut</a>
                <ul class="sub-menu">
                  <li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
                    <a href="">A propos de l’IAI</a>
                  </li>
                  <li id="menu-item-163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163">
                    <a href="">Historique</a>
                  </li>
                  <li id="menu-item-167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167">
                    <a href="">Les anciens DG de l’IAI</a>
                  </li>
                  <li id="menu-item-68" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68">
                    <a href="">Mot du Directeur Général</a>
                  </li>
                  <li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70">
                    <a href="">Organisation Administrative</a>
                  </li>
                  <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
                    <a href="">La Direction Générale de l’IAI</a>
                  </li>
                  <li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169">
                    <a href="">Les statistiques</a>
                  </li>
                  <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71">
                    <a href="">Corps enseignants</a>
                  </li>
                  <li id="menu-item-1380"
                    class="menu-item menu-item-type-taxonomy menu-item-object-oldstudentcategory menu-item-1380">
                    <a href="">Les anciens de l&rsquo;IAI</a>
                  </li>
                  <li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174">
                    <a href="">Admission à l&rsquo;IAI</a>
                  </li>
                </ul>
              </li>


              <li id="menu-item-1293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182">
                <a href="{% url 'cour' %}">Les cours</a>
              </li>


              <li id="menu-item-1583"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1583">
                <a href="">Téléchargement</a>
                <ul class="sub-menu">
                  <li id="menu-item-179"
                    class="menu-item menu-item-type-taxonomy menu-item-object-wpdmcategory current-wpdmpro-ancestor current-menu-parent current-wpdmpro-parent menu-item-179">
                    <a href="">Anciènnes épreuves du concours</a>
                  </li>
                  <li id="menu-item-183"
                    class="menu-item menu-item-type-taxonomy menu-item-object-wpdmcategory menu-item-183">
                    <a href="">Communiqués/Note d&rsquo;informations</a>
                  </li>
                  <li id="menu-item-180"
                    class="menu-item menu-item-type-taxonomy menu-item-object-wpdmcategory menu-item-180">
                    <a href="">Mémoires</a>
                  </li>
                  <li id="menu-item-181"
                    class="menu-item menu-item-type-taxonomy menu-item-object-wpdmcategory menu-item-181">
                    <a href="">Brochures</a>
                  </li>
                </ul>
              </li>
              
              <li id="menu-item-182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182">
                <a href="">Blog</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>