{% extends 'racine.html' %}
{% load static %}
{% block title %}REGISTRATION{% endblock title %}
{% block main-content %}
    
        <div class="form-container">
            <form action="bd.php" method="POST" id="id-form">
                <h2>Registration</h2>

                <!-- <label for="nom">LastName</label>
                <input type="text" id="lastname" name="lastname" required>
                
                <label for="firstlastname">FirstName</label>
                <input type="text" id="firstname" name="firstname" required> -->

                <label for="username">UserName</label>
                <input type="text" id="username" name="username" required>
    
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
    
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <label for="password">Repeat Password</label>
                <input type="password" id="password" name="password" required>
    
                <input type="submit" name="submit" value="Register">

                <div class="text-center text-primary fw-bold">
                    <small>Existing User ? <a href="{% url 'login' %}" class="text-danger">Login Now </a></small>
                </div>
            </form>
        </div>

{% endblock main-content %}